framework: net7.0

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 7.0
nuget FSharp.Data ~> 6.0
nuget FsHttp ~> 11.0
nuget Giraffe ~> 6.0

git ssh://git@bitbucket.lmc.cz:7999/archi/nuget-server.git master Packages: /nuget/
# LMC Nuget dependencies:
nuget Lmc.JsonApi ~> 6.0
nuget Lmc.Metrics ~> 7.0

nuget Expecto
nuget YoloDev.Expecto.TestSdk
nuget NSubstitute ~> 4.2

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Core.Target
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
